html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}

html {
  background-color: white;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-content: stretch;

  ul.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 30px;
    max-height: 100px;

    > li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
      > a {
        display: block;
        padding: 0;
        margin: 0;
        background-color: lightblue;
      }
    }
  }

  .routerOutlet {
    position: relative;
    padding: 30px;
    flex-grow: 100;
  }
}