.listWrap {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
  width: 400px;
}

.newItem {
  width: 100%;
  font-size: 30px;
  padding: 5px 10px;
  background-color: lightgray;
  border: 0 solid transparent;
}
.itemList {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.itemList li {
  position: relative;
  font-size: 30px;
  line-height: 50px;
  box-shadow: 0 -1px 0 #ededed;
  overflow: hidden;
  cursor: pointer;
  padding: 0 10px;
}

.itemList li:last-child {
  border-bottom: none;
}